.testwidget-container {
    position: fixed;
    z-index: 5;
    bottom: 0px;
    background: lightgrey;
    width: 100vw;
}

.testwidget-tag {
    background: darkgrey;
    cursor: pointer;
    padding: 1em 0px;
}

.testwidget-tag h2 {
    margin: 0px;
    text-align: center;
    font-size: 20px;
}

.testwidget-tag.hidden+.testwidget-inner {
    height: 0px;
    padding: 0em 1.5em;
}

.testwidget-tag.hidden img {
    transform: rotate(180deg);
}

.testwidget-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    margin: 0 auto;
    max-width: 680px;
    padding: 1.5em;
    height: 240px;
    transition: all 0.3s ease-in-out;
}

.testwidget-linkform, .testwidget-themeform {
    display: flex;
    flex-direction: column;
}

.testwidget-inner h3 {
    margin-top: 0px;
}

.testwidget-inner label {
    font-weight: 600;
}

.testwidget-inner label, .testwidget-inner input {
    margin-bottom: .5em;
}

.testwidget-linkform input[type="submit"] {
    border: none;
    padding: 8px 8px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.testwidget-linkform input[type="submit"]:disabled {
    cursor: default;
    opacity: 0.5;
}