.link {
    padding: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    text-decoration: none;
    transition: all 0.2s;
}

.link-list {
    display: flex;
    flex-direction: column;
}

.empty {
    text-align: center;
}

.link-btn {
    font-family: Karla;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
}

.childlink-tray {
    background: #F5F7F8;
    border-radius: 4px;
    margin-bottom: 16px;
    position: relative;
    bottom: 8px;
}

.childlink-tray.hidden .childlink-container, 
.childlink-tray.hidden .childlink-provider-logo,
.childlink-tray.hidden .audioplayer,
.childlink-tray.hidden .audioplayer > * {
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.childlink-container {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 8px;
    z-index: 1;
    padding: 1em 0em 0em 1.5em;
    list-style-type: none;
    height: 220px;
    max-height: 220px;
    overflow-y: scroll;
    transition: all 0.3s;
}

.childlink {
    padding: .8em 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DADEE0;
    text-decoration: none;
    color: inherit;
}

.childlink:visited {
    color: #263238;
}

.childlink h4 {
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: .75em;
}

.childlink img.arrow {
    transform: rotate(270deg);
    margin-right: .5em;
}

.childlink p.subtitle {
    font-size: 12px;
    margin: 0px
}

.childlink-disabled {
    font-size: 12px;
    margin-right: .5em;
}

.audiochildlink-container {
    height: 365px;
    max-height: unset;
    overflow-y: hidden;
}

.audiochildlink {
    cursor: pointer;
}

.audiochildlink-logo {
    display: flex;
    align-items: center;
}

.audiochildlink-logo a {
    display: flex
}

.audiochildlink-logo h4 {
    margin: 0px;
}

.audiochildlink-logo img {
    margin-right: .5em;
}

.childlink-container::-webkit-scrollbar {
    width: 6px;
}

.childlink-container::-webkit-scrollbar-track {
    margin-top: 12px;
}

/* Handle */

.childlink-container::-webkit-scrollbar-thumb {
    background: #888888aa;
    border-radius: 4px;
}

/* Handle on hover */

.childlink-container::-webkit-scrollbar-thumb:hover {
    background: #555555aa;
}

.childlink-provider-logo {
    display: flex;
    justify-content: center;
    padding: 1em;
    transition: all 0.3s;
}

@media screen and (max-width: 768px) {
    .link {
        padding: 16px;
    }
}