* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

h1 {
    font-size: 18px;
    font-weight: 400;
}

main {
    margin: 0px auto;
    height: 100%;
    width: 100%;
    max-width: 680px;
    padding: 0px 2em 80px 2em;
}

ul {
    padding-left: 0px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    header {
        margin-top: 32px;
    }
}