.audioplayer {
    padding-left: 1.5em;
    padding-top: 1em;
    height: 100px;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    overflow-y: hidden;
}

.audioplayer img {
    margin-right: 1em;
}

.audioplayer svg {
    cursor: pointer;
}

.audioplayer h4 {
    margin: 0px;
}

.audioplayer p {
    font-size: 12px;
    margin: 0px;
}

.audioplayer-details {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}